<h1>拠点情報追加</h1>
<table class="table table-bordered table-striped table-hover center" id="table-users">

  <%= form_with model: @base, url: base_index_path, local: true , method: :post do |f| %>
  
    <thead>
      <tr>
        <th class="center">拠点追加</th>
        <th class="center">拠点名</th>
        <th class="center">拠点種類</th>
      </tr>
    </thead>
    
    <tbody>
      <tr>
        <td class="center">
          <%= f.submit "拠点情報追加", class: "btn btn-primary " %>
        </td>

        <td class="center">
          <%= f.text_field :name, class: "form-control " %>
        </td>
        <td class="center">
          <%= f.text_field :btype, class: "form-control " %>
        </td>
      </tr>
    </tbody>
    <% end %>
  </table>