
<% provide(:button_text, '変更を送信する') %>

<%= form_with(model: @user, url: "#", local: true) do |f| %>
  <%= render 'shared/error_messages', object: @user %>
  
  <div class="modal-dialog modal-lg modal-dialog-center">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
        <h1 class="modal-title">【残業申請】</h1>
      </div>
      <div class="modal-body">
        <div class="row">
        <div class="col-md-8 col-md-offset-3">

          <table class=" table-bordered table-condensed table-hover table-striped" >
            <tbody>
              <tr>
                <th>日付</th>
                <th>曜日</th>
                <th>終了予定時間</th>
                <th>翌日</th>
                <th>業務処理内容</th>
                <th>終了指示時刻</th>
                <th>終了指示時刻</th>
                <th>指示者確認㊞</th>
              </tr>
              <tr>
                <td><%= l(@attendances.worked_on, format: :short) %></td>
                <td>
                </td>
                <td> </td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div></div>
        <div class="row">
        <div class="col-md-10  col-md-offset-3">

            <table class="table-bordered table-condensed">
              <tr>
                <td>
                  <%= f.submit yield(:button_text), class: "btn btn-primary btn-block" %>
                </td>
              </tr>
            </table>
        </div></div>
        
          </div>
          </div>
      </div>
    </div>
  </div>
<% end %>