/* ユーザー情報テーブル */

.user-table {
  vertical-align: bottom;
  text-align: center;
}

/* お知らせボタン */
.superior {
  position: relative;
  top: -10px;
}

.notice {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #ff0000;  /* red */
}

.not_notice {
  margin-top: 0px;
  margin-bottom: 0px;
}


/* ユーザー情報下ボタン */

.btn-users-show {
  margin-top: -10px;
  margin-bottom: 10px;
}

/* 勤怠画面上長タグ*/ 
.superior_tag {
  color: red; 
  text-decoration: none;
}

a.superior_tag:hover {
  color: red;
  text-decoration: none;
}

.notice span {
  border: 2px solid red; color: red;
}

/* ユーザー勤怠情報テーブル */

#table-attendances {
  th {
    vertical-align: bottom;
    text-align: center;
  }
.mx-auto{
  width: 200px;
  margin: 0 auto; 
}
}
 td {
    vertical-align: bottom;
    text-align: center;
  }
/* 入力フォーム */

.label-signup {
  margin-top: 5px;
}

.btn-signup {
  margin-top: 10px;
}

.label-user--edit {
  margin-top: 5px;
}

.btn-user--edit {
  margin-top: 10px;
}

/* ユーザー一覧ページ */

#table-users {
  td {
    vertical-align: middle;
  }  
}

/* 基本情報編集モーダルウインドウ */

.label-basic-info {
  margin-top: 5px;
}

.btn-basic-info {
  margin: 15px 0;
  width: 30%;
}
